* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
textarea,
button {
  outline: none !important;
  border: none;
}

input,
textarea {
  background: transparent;
}

input::file-selector-button,
button {
  cursor: pointer;
}

svg,
g,
circle,
path,
text,
g > * {
  transition: all 0.5s;
}
